.forms-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 16px 42px 16px;
}

.forms-container .texts-container {
    color: white;
}

.form {
    max-width: 430px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-name-email {
    display: flex;
    gap: 11px;
}

.form-group input, .form-group textarea {
    border-radius: 8px;
    padding: 10px 15px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

#subject {
    margin-bottom: 6px ;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-group span {
    color: white;
    font-size: var(--selection);
}

.input-submit {
    background-color: transparent;
    text-transform: uppercase;
}

.form .fill-button {
    width: 50%;
    align-self: flex-end;
    padding: 10px 15px;
}

.form-group input[type="submit"] {
    background-color: transparent; /* Remover background branco do texto */
}