/* Banner */

.banner {
    padding: 32px 16px;
}

.banner .texts-container {
    text-align: center;
    padding: 2em 0 2em 0;
    gap: 0;
}

.banner .texts-container p {
    color: white;
}

.banner .texts-container span {
    font-weight: var(--black);
}

    /* Texto animado do banner  */

.text-animation {
    position: relative;
    bottom: 4em;
    padding: 32px 0;
    margin-top: 24px;
}

.moving-text, .background-text {
    font-size: calc(1.2 * (3em + 1.3vw));
    font-weight: var(--black);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: calc(1.2 * (.65em + 1vw));
}

.moving-text {
    color: var(--orange);
    animation: swing 3s ease-in-out infinite;
    z-index: -1;
}

.background-text {
    z-index: -2;
}

@keyframes swing {
    0% { transform: translateX(-2%);}
    50% { transform: translateX(2%);}
    100% { transform: translateX(-2%);}
}

/* About */

.about-section {
    position: relative; /* Define uma posição relativa para os elementos internos */
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding: 72px 16px 32px 16px;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 54px;
}

.about-container .texts-container, .hire-me-container .texts-container {
    gap: 16px;
}

.background-white{
    position: absolute; /* Define uma posição absoluta para o plano de fundo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Cor do plano de fundo */
    mix-blend-mode:difference; /* Aplica o blend mode apenas ao plano de fundo */
    z-index: -1;
}

.about-img {
    width: 32px;
}

.about-container h3, .about-container p {
    color: black;
}

.about-container .break-text {
    display: none;
}

/* Portfolio */

.portfolio {
    padding: 64px 0 48px 0;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.portfolio-img {
    width: 32px;
}

.portfolio .button {
    margin: 0 16px;
}

.portfolio-container {
    padding: 0 16px;
    display: flex;
    gap: 32px;
    justify-content: space-between;
}

.cards-portfolio {
    width: 100%;
}

.card-portfolio-list {
    display: grid;
    grid-template-areas: 
    "front ui"
    "front ui";
    gap: 48px;
}

.card-portfolio-item {
    background: var(--orange);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frontend {
    grid-area: front;
    width: 100%;
    padding: 16px;
    height: 18vh;
}

.design-ui {
    grid-area: ui;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.design-ui h3 {
    font-size: 48px;
}

.design-ui .card-portfolio-item {
    height: 100%;
    padding: 16px;
}

.card-title {
    font-size: var(--card);
    font-weight: var(--black);
    color: var(--black-ish);
}

.card-portfolio-item p {
    font-weight: var(--black);
    color: white;
}

/* Hire me */

.hire-me-section {
    position: relative; /* Define uma posição relativa para os elementos internos */
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding: 32px 0;
}

.background-orange {
    position: absolute; /* Define uma posição absoluta para o plano de fundo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 171, 16); /* Cor do plano de fundo */
    mix-blend-mode:difference; /* Aplica o blend mode apenas ao plano de fundo */
    z-index: -10;
}

.hire-me-container {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;
    gap: 54px;
}

.hire-me-container .texts-container {
    display: flex;
    flex-direction: column;
}

.hire-me-container .texts-container .description {
    text-align: right;
}

.hire-me-container .small-title {
    color: white;
}

.hire-me-container .break-sec-text {
    display: none;
}

.hire-me-img {
    width: 32px;
}

.title-hire-me {
    color: white;
    padding-bottom: 0;
}

.hire-me-section .fill-button  {
    background-color: var(--black-ish);
    padding: 8px 16px;
    margin: 0 16px;
}

@media screen and (min-width: 768px) {
    
    .texts-banner .texts-container {
        flex-direction: row;
        gap: 50px;
    }

    .back-text::before {
        font-size: 30vh; /* Tamanho maior */
        position: absolute;
        top: 40%;
        left: 35%;
    }

    .banner .buttons-container {
        width: 70%;
        margin: auto;
    }


    /* About */

    .about-container{
        gap: 0;
    }

    .about-img {
        top: 60%;
    }

    .about-container .texts-container {
        flex-direction: row;
        align-items: center;
        gap: 32px;
        width: 100%;
        justify-content: center;
    }

    .about-container .small-title .break-text {
        display: block;
    }

    .about-container p {
        width: 30%;
        text-align: left;
    }

    .about-container h3 {
        font-size: var(--small-title);
    }

    .about-section .stroke-button {
        width: 35%;
        margin: auto;
    }

    /* Portfolio */

    .portfolio {
        align-items: center;
        gap: 64px;
    }

    .portfolio-img {
        position: absolute;
        left: 32px;
        top: 50%;
        transform: translateY(-50%);
    }

    .portfolio-container {
        width: 100%;
        justify-content: center;
        position: relative;
    }

    .cards-portfolio {
        display: flex;
        justify-content: center;
        width: 60%;
    }

    .portfolio .button {
        width: 35%;
        margin: auto;
    }

    .portfolio-img {
        top: 65%;
    }

    /* Hire me */

    .hire-me-section {
        align-items: center;
        gap: 48px;
        padding: 64px 0  48px 0;
    }

    .hire-me-container {
        width: 100%;
        justify-content: center;
        position: relative;
    }

    .hire-me-img {
        position: absolute;
        left: 32px;
        top: 90%;
        transform: translateY(-50%);
    }
    
    .hire-me-container .texts-container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }
    
    .hire-me-container .texts-container h3 {
        font-size: var(--small-title);
    }

    .hire-me-container .texts-container .description {
        text-align: left;
        width: 30%;
    }

    .hire-me-container .break-text {
        display: block;
    }

    .hire-me-container .break-sec-text {
        display: block;
    }

    .hire-me-section .button {
        width: 33%;
    }
    
}

@media (min-width: 1024px) and (max-width: 2560px){
    .banner .texts-container {
        gap: 3vh;
    }

    .banner .texts-container p {
        line-height: .65em;
    }

    .moving-text, .background-text {
        font-size: calc(4 * (.7em + .5vw));
        line-height: calc(1.2 * (.65em + .2vw));
        top: 20px;
    }

    .banner .buttons-container {
        width: 500px;
        gap: 24px;
    }

    .about-section .button {
        width: 250px;
    }

    .about-container p {
        width: 200px;
        text-align: left;
    }

    .portfolio .button{
        width: 250px;
    }

    .hire-me-section .button {
        width: 250px;
    }

    .hire-me-container .texts-container .description {
        text-align: left;
        width: 200px;
    }
}

@media screen and (width: 1440px) {
    .moving-text, .background-text {
        top: 0;
    }
}

@media screen and (width:2560px) {
    .moving-text, .background-text {
        top: -20px;
    }
}