.slider-container {
    position: relative;
    width: 100%;
}

.slider-project-img {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    overflow: hidden;
    overflow-x: auto;
}

.slider-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.slider-pagination button {
    background-color: rgba(28, 28, 28, 0.5);
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.slider-pagination button.active {
    background-color: var(--orange);
}