.project-page {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px 0;
}

.gd-img-page {
    height: 20px;
}

#unica-img {
    height: 24px;
}

#estela-img {
    height: 22px;
}

.project-page .button {
    margin: 0 16px;
}

.resume-project, .slider-project-img {
    padding: 0 16px;
}

.banner-project .tags {
    padding: 21px 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.banner-project .card {
    height: 250px;
    object-fit: cover;
}

.resume-project {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: white;
}

.about-the-project {
    text-align: right;
}

.img-slider {
    height: 534px;
    width: calc(100% - 16px);
    border-radius: 24px;
    object-fit: cover;   
}

.other-projects {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 16px;
}

.other-projects .small-title {
    color: white;
    text-align: center;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 32px;
}